.container{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 470px;
}
.title{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    position: relative;
}
.title h4{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: capitalize;
    color: black;
    margin-bottom: 15px;
}
.title::after{
    position: absolute;
    content: '';
    width: 25%;
    height: 2px;
    background-color:#CAA462;
    top: 80%;
}
.items {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 18px 9px;
    margin-bottom: 132px;
}
.items a {
    color:white;
    background: #CAA462;
    font-size: 16px;
    font-family: Playfair Display;
    padding: 9px 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 16px;
}